body {
  margin: 0;
  padding: 0;
  background-color: #2E2E2E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #e838d4;
}

#app {
  width: 960px;
  max-height: 100vh;
  max-width: 100vw;
}

#container.debug #app {
  display: inline-block;
}

#sidebar {
  position: absolute;
  width: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll
}

#sidebar div {
  text-align: left;
  color: #c3c3c3;
  line-height: 1.5em;
}

#sidebar div p {
  padding-right: 20px;
}

.guide {
  margin-top: 40px;
}

@font-face {
  font-family: 'LateSansRegular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Late-Regular.otf');
}

.drakefont {
  font-family: 'LateSansRegular';
  font-size: 1.5em;
  color: #fff;
  display: block;
  margin-left: 80px;
}

.hidden {
  display: none;
}

#gridTop, #gridLeft {
  display: none
}

#gridTop.debug {
  display: block
}

#gridTop.debug div, #container.debug #gridLeft div {
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff
}

#container.debug #gridLeft, #gridTop.debug div {
  display: inline-block;
}

#container.debug #gridLeft {
  vertical-align: top
}

#winModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

#winModal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
}

#winModal .modal {
  width: 500px;
  height: 90px;
  background-color: #222;
  padding: 10px;
  border: 1px solid #a03894;
  border-radius: 2px;
  color: #eee;
  position: absolute;
  top: 20vh;
  left: 30vw;
}

.donateBtn {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
  padding: 6px;
  border-radius: 3px;
  background-color: #a03894;
  text-decoration: none;
  color: #fff;
}

.donateBtn:hover {
  background-color: #e838d4
}
